html,body {
    height:100%;
}

.wrapper {
	min-height:100%;
	position:relative;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav ul {
    background-color: #492a7c;
    overflow: hidden;
    color: #f7f7f7;
    margin: 0;
    padding: 0;
    text-align: center;
    -webkit-transition: max-height 0.4s;
    -ms-transition: max-height 0.4s;
    -moz-transition: max-height 0.4s;
    -o-transition: max-height 0.4s;
    transition: max-height 0.4s;
}

#headline-li{
    text-align: left;
    font-weight: bold;
}

#headline-span{
    font-size: 2em;
}

#headline-li:hover{
    background-color: #492a7c;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

nav ul li:hover{
    background-color: #331d56;
}

nav a {
    text-decoration: none;
    color: inherit;
}

main {
    padding: 10px;
    line-height: 1.5em;
    font-size: 0.9em;
    width: 95%;
    margin: 0 auto;
    padding-bottom: 40px;
}

.analysisID {
    width: 60%;
    text-align: center;
}
/* Protein navigation/selection area styling */
.nav-fs-wrap{
    width: 100%;
    display: block;
   /* height: 25%;*/
    /*border: 2px solid red;*/
}
.protein-nav-wrap{
    max-height: 100%;
    border: none;
}

.protein-nav-opts{
    min-height: 2em;
    max-height: 100%;
    display:block;
    width: 900px;
    /*border: 1px solid orange;*/
    padding: 0;
    margin: 0 auto;
    border: none;
}
.protein-nav-opts div {
    float: left;
    width: 449px;
    text-align: center;
}

.protein-nav{
    width: 100%;
    display: block;
    /*border: 1px solid orange;*/
    padding: 0;
    margin: 0 auto;
    text-align: center;
}
.protein-nav span{
    float: left;
    text-align: left;
    font-size: 1.2em;
    line-height: 1.5em;
}
/* Begin d3 styling from final project work*/

.help {
  outline:none;
  text-decoration: underline;
  font-size: 10px;
}
.help:hover {
  text-decoration:none;
} 
.help span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:auto; line-height:16px;
}
.help:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;
}
.overlay {
    fill: none;
	pointer-events: all;
}
.brush .extent {
  stroke: steelblue;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
.y.axis path {
  display: none;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.box .whisker {
  stroke: #000;
  stroke-width: 1px;
}
.box .median {
  stroke: #000;
  stroke-width: 2px;
}

.box .middle50 {
  fill: #fff;
  stroke: #000;
  stroke-width: 1px;
}

.box .outer25 {
  stroke: #000;
  stroke-width: 1px;
  stroke-dasharray: 3,3;
}

.box .outlier {
  fill: #fff;
  stroke: #666;
  stroke-width: 1px;
}

/* End d3 styling from final project work*/

/* Selection drilldown stats area styling */
.drilldown-wrap{
    max-height:500px;
    display: block;
    text-align: center;
    width: 100%;
    border: 0;
}
.drilldown-wrap div{
    /*border: 1px solid orange;*/
}
.table{
    max-height: 400px;
    float: left;
    width: 33%;
    text-align: center;
    overflow: auto;
}
.group-box-bar{
    max-height: 400px;
    float: left;
    width: 33%;
    text-align: center;
    overflow: auto;
}
.stacked-bars{
    max-height: 400px;
    float: left;
    width: 33%;
    text-align: center;
    overflow: auto;
}


.handle{
    width: 100%;
    background: #54308f;
    text-align: left;
    box-sizing: border-box;
    padding: 15px 10px;
    cursor: pointer;
    color: white;
    display: none;
    font-weight: bolder;
}

.handle span {
    float:right;
}

footer{
    background-color: #54308f;
    width:100%;
    height: 40px;
	position:absolute;
	bottom:0;
	left:0;
    line-height: 1.5em;
    font-size: 0.9em;
}

footer ul{
    color: #f7f7f7;
    margin: 0;
    padding: 0;
    text-align: center;
}

footer ul li {
    display: inline-block;
    padding: 10px;
    padding-bottom: 0;
}

footer a{
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 885px) {
    nav ul{
        max-height: 0;
    }
    .showing{
        max-height: 20em;
    }
    nav ul li{
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
        text-align: left;
    }
    .handle{
        display: block;
    }
}