
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#overview {
	width: 960px;
  margin-left: 25px;
}

#group{
  float: left;
  width: 480px;
}

#sites{
  float: left;
  width: 345px;
}

.brush .extent {
  stroke: steelblue;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

#export_button {
	display: block;
}
.overlay {
	fill: rgba(0, 0, 0, .1);;
	pointer-events: all;
}
#options {
	right: 20px;
  border: 1px solid black;
}

table {
	border-spacing: 5px 10px;
}

.title {
  color: #492a7c;
  font-size: 24pt;
  display: block;
}

.subtitle {
  font-size: 12pt;
}

.sievehelplink {
  font-size: 8pt;
  color: #24153E;
  float: right;
  cursor: pointer;
}
.sievehelplink:hover {
  text-decoration: underline;
  font-weight: bold;
}

#sievehelpdiv {
        position: absolute;
        top: 100px;
        left: 100px;
        width: auto;
        max-width: 800px;
        height: auto;
        max-height: 800px;
        padding: 10px;
        background-color: white;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        pointer-events: none;
}
#sievehelpdiv.hidden {
        display: none;
}

#sievehelpdiv p {
  font-size: 14pt;
}

.help {
  outline:none;
  text-decoration: underline;
  font-size: 10px;
}
.help:hover {
  text-decoration:none;
} 
.help span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:300px; line-height:16px;
}
.help:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
