body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#overview {
	position: fixed;
	left: 20px;
	width: 50%;
}

#parent {
	margin-left: 50%;
}

svg text {
	font: 10px sans-serif;
}
.aatitle {
	font-weight: bold;
}

.axis line,
.axis path {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.brush .extent {
  stroke: steelblue;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}