
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#overview {
	width: 960px;
  margin-left: 25px;
}

#group{
  float: left;
  width: 480px;
}

#parent {
	margin-left: 50%;
}

.brush .extent {
  stroke: steelblue;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

#export_button {
	display: block;
}
.overlay {
	fill: rgba(0, 0, 0, .1);;
	pointer-events: all;
}
#options {
	position: absolute;
	right: 20px;
	width: 300px;
}

table {
	border-spacing: 5px 10px;
}