html,body {
    height:100%;
}

.wrapper {
	min-height:100%;
	position:relative;
}

body{
    margin: 0;
    padding-top: 45px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
main {
    padding: 10px;
    padding-top: 0px;
    line-height: 1.5em;
    font-size: 0.9em;
    width: 95%;
    margin: 0 auto;
    padding-bottom: 55px;
}

.analysisID {
    width: 60%;
    text-align: center;
}
/* Protein navigation/selection area styling */
.nav-fs-wrap{
    width: 100%;
    display: block;
}
.protein-nav-wrap{
    max-height: 100%;
    border: none;
}

.protein-nav-opts{
    min-height: 2em;
    max-height: 100%;
    display:block;
    width: 900px;
    padding: 0;
    margin: 0 auto;
    border: none;
}
.protein-nav-opts div {
    float: left;
    width: 224px;
    text-align: center;
}

.protein-nav{
    width: 100%;
    display: block;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}
.protein-nav span{
    float: left;
    text-align: left;
    font-size: 1.2em;
    line-height: 1.5em;
}

footer{
    background-color: #F8F8F8;
    width:100%;
    height: 55px;
	position:absolute;
	bottom:0;
	left:0;
    line-height: 1.5em;
    font-size: 0.9em;
}

footer ul{
    color: #f7f7f7;
    margin: 0;
    padding: 0;
    text-align: center;
}

footer ul li {
    display: inline-block;
    padding: 10px;
    padding-bottom: 0;
}

footer a{
    text-decoration: none;
    color: inherit;
}

/* End of styling for navigation area */
/* Styling for help tooltips */

.help {
  outline:none;
  text-decoration: underline;
  font-size: 10px;
}
.help:hover {
  text-decoration:none;
} 
.help span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:auto; line-height:16px;
}
.help:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;
}

/* Begin d3 styling from final project work*/
.overlay {
    fill: none;
	pointer-events: all;
}
.brush .extent {
  stroke: steelblue;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
.y.axis path {
  display: none;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.sitebars.selected {
    opacity: 1;
}
.siteSelMarkers.selected {
    display: initial !important;
}
.sitebars:not(.selected){
    opacity: 0.3;
}
.siteSelMarkers{
    display: none;
}
.box .whisker {
  stroke: #000;
  stroke-width: 1px;
}
.box .median {
  stroke: #000;
  stroke-width: 2px;
}

.box .middle50 {
  fill: #fff;
  stroke: #000;
  stroke-width: 1px;
}

.box .outer25 {
  stroke: #000;
  stroke-width: 1px;
  stroke-dasharray: 3,3;
}

.box .boxplotpoint {
  fill: #CCBADC;
  stroke: #666;
  stroke-opacity: .7;
  fill-opacity: .7;
}

.axis,
.tick > text {
    font-size: .8em;
}
.tick > line {
    stroke-width: 0.5px;
}

/* End d3 styling from final project work*/

/* Selection drilldown stats area styling */
.drilldown-wrap{
    max-height:500px;
    display: block;
    text-align: center;
    width: 100%;
    border: 0;
}

.table-container{
    max-height: 450px;
    float: left;
    width: 33%;
    text-align: center;
    overflow-y: scroll;
}
.deleteTableRowTrigger:hover{
    background: #ff7f7f;
    opacity: 0.8;
}
.siteRowSiteID:hover{
    background: #99cc99;
    opacity: 0.8;
}
.group-box-bar{
    max-height: 450px;
    float: left;
    width: 33%;
    text-align: center;
    overflow: auto;
}
.stacked-bars{
    max-height: 450px;
    float: left;
    width: 33%;
    text-align: center;
    overflow-y: scroll;
}